<wlt-toolbar
        show-type="public"
        title="{{ 'user.forgot' | translate }}"
        toggle-left="goBack()"
        toggle-right="toggleRight()"
        set-search="setSearchMode()"
        show-search="{{showSearchBox}}"
        cancel="cancel()"
        save="save()">
</wlt-toolbar>

<wlt-message
        show="{{message.updated}}"
        message="message">
</wlt-message>

<div ng-show="receivedResponse">

</div>
<div class="authenticationForm">

    <div layout="row">
        <div flex></div>
        <wlt-language
                lang-current="langCurrent">
        </wlt-language>
    </div>

    <div layout="column" layout-align="center center">
        <img class="authenticationLogo" ng-src="{{systemValues.logo}}" alt="{{systemValues.companyName}}">
        <p class="authenticationTagLine" ng-show="systemValues.showTagLine==='true'">{{ 'shared.tagline' | translate }}</p>
        <p ng-show="systemValues.showTagLine!=='true'"></p>

        <form name="forgotPasswordForm" role="form" >
            <wlt-input
                    label='{{"user.enteremail" | translate}}'
                    model="user.email"
                    name="emailVerif"
                    key="email"
                    glyphicon="email"
                    is-required="true"
                    required-message='{{"shared.error.isRequired" | translate }}'
                    on-blur="isEmailExisting(email)"
                    type="text"
                    error-message="{{ 'user.emailinvalid' | translate }}"
                    vtype="email">
            </wlt-input>

            <div layout="column" layout-align="center end">
                <div ng-if="locales" class="bg-danger">Le e-mail n'existe pas</div>
                <md-button type="submit" ng-click="sendMail()" class="md-raised md-primary" ng-disabled="forgotPasswordForm.$invalid">{{ 'user.send' | translate }}
                </md-button>
            </div>

            <div layout="column" layout-align="center center">
                <p style="margin-top: 45px;">
                    <md-button href="#!/login" ui-sref="public.login">{{ 'user.backtologin' | translate }}</md-button>
                </p>
            </div>
        </form>
    </div>
</div>
