<md-toolbar class="md-toolbar-tools" layout="row">
    <md-button class="md-icon-button" ng-click="cancel()" aria-label="cancel">
        <md-tooltip>
            {{ 'shared.cancel' | translate }}
        </md-tooltip>
        <div class="button-icon">
            <ng-md-icon icon="clear"></ng-md-icon>
        </div>
    </md-button>
    <div layout="row" flex>
        <span flex></span>
        <h2>{{ title }}<span ng-show="admin===true && subdomain!=''"> - {{subdomain}}</span></h2>
        <span flex></span>
    </div>
    <md-button class="md-icon-button" ng-click="save()" aria-label="save">
        <md-tooltip>
            {{ 'shared.save' | translate }}
        </md-tooltip>
        <div class="button-icon">
            <ng-md-icon icon="check"></ng-md-icon>
        </div>
    </md-button>
</md-toolbar>
