<wlt-toolbar
        show-type="view"
        title="{{ 'account.titleOne' | translate }}"
        toggle-left="toggleLeft()"
        toggle-right="toggleRight()"
        set-search="setSearchMode()"
        show-search="{{showSearchBox}}"
        cancel="cancelLocation()"
        save="saveLocation()">
</wlt-toolbar>

<wlt-spinner ng-hide="receivedResponse"></wlt-spinner>

<wlt-message
        show="{{message.updated}}"
        message="message">
</wlt-message>

<div ng-show="receivedResponse">
</div>
<div ng-show="responseSuccess">
    <!--{{ account }}-->
    <md-button class="md-primary md-fab topRightButton" ng-click="goAccountEdit()" aria-label="edit">
        <md-tooltip>
            {{ 'shared.edit' | translate }}
        </md-tooltip>
        <div class="button-icon">
            <ng-md-icon icon="edit"></ng-md-icon>
        </div>
    </md-button>

    <md-content class="md-padding" ng-cloak>
        <div layout="row" layout-align="center center">
            <div style="width: 110px;" layout="row" layout-align="center center">
                <img class="img-responsive" style="max-width: 100px; max-height: 100px"
                     ng-if="account.website.logo.typeImage" ng-src="{{account.website.logo.url}}"
                     alt="{{account.website.boxOfficeName}}">
                <ng-md-icon icon="settings" aria-label="account" ng-show="!account.website.logo.typeImage">
            </div>
            <div class="md-padding" flex>
                <h3>{{account.website.boxOfficeName}}</h3>

                <p class="md-body-1"><a href="http://{{account.website.subdomain}}.{{domain}}">{{account.website.subdomain}}.{{domain}}</a><br>
                    {{ account.website.correspondenceEmail }}</p>
            </div>
        </div>

        <div ng-show="account.merchandAccount.stripe">
            <p class="md-body-1">
                <img ng-src="/images/connected-with-stripe.png" alt="connected" aria-label="connected"><br>
                {{"account.currency" | translate}}{{ ":" | formatColon:langCurrent }}
                {{account.merchandAccount.currency}}
            </p>

            <h3> {{"account.billingAddress" | translate}}</h3>

            <p class="md-body-1">
                {{account.address.addressLine1 }}<br>
                <span ng-show="account.website.addressLine2">{{account.address.addressLine2}}<br></span>
                {{account.address.city}}<span ng-show="account.address.provinceState">, {{account.address.provinceState}}</span><br>
                {{account.address.country}}<span ng-show="account.address.zipCode">, {{account.address.zipCode}}</span><br>
                {{account.address.phone}}
            </p>
        </div>

        <p class="md-body-1">
            <span ng-show="account.website.googleAnalyticsTracker">{{"account.googleAnalyticsTracker" | translate}}{{ ":" | formatColon:langCurrent }}
            {{account.website.googleAnalyticsTracker}}<br></span>
        </p>

    </md-content>
</div>
