body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  overflow: hidden;
  background:#444;
}

#kinetic-container {
  width: 100%;
  margin: 0;
}

#kinetic-container canvas {
  margin: 0;
}

.property-name {
  white-space: nowrap !important;
}

#debug {
  position: fixed;
  left: 0;
  top: 0;
  background: #ff8;
  color: #000;
  opacity: 0.8;
  max-height: 300px;
  overflow: auto;
  text-align: left;
  width: 100%;
  padding: .3em 1em;
  font-size: .7em;
}
#loading{
  position:fixed;
  bottom:50%;
  left:50%;
  z-index:1;
  margin-left:-32px;
  margin-top:-175px;
}
