<wlt-toolbar
        show-type="list"
        title="{{ 'event.titleList' | translate }}"
        toggle-left="toggleLeft()"
        toggle-right="toggleRight()"
        set-search="setSearchMode()"
        show-search="{{showSearchBox}}"
        cancel="cancelEvent()"
        save="saveEvent()">
</wlt-toolbar>

<wlt-spinner ng-hide="receivedResponse"></wlt-spinner>

<wlt-message
        show="{{message.updated}}"
        message="message">
</wlt-message>

<div ng-show="receivedResponse">
</div>
<div ng-show="responseSuccess">


    <md-button class="md-primary md-fab topRightButton" ng-click="goEventNew()" aria-label="add">
        <md-tooltip>
            {{ 'shared.new' | translate }}
        </md-tooltip>
        <div class="button-icon">
            <ng-md-icon icon="add"></ng-md-icon>
        </div>
    </md-button>

    <md-content class="md-padding">
        <form ng-show="showSearchBox" id="eventSearchForm" method="post">
            <wlt-input
                    label='{{"shared.search" | translate}}'
                    model="search"
                    key="search"
                    glyphicon=""
                    is-required=""
                    required-message='{{"shared.error.isRequired" | translate }}'
                    type="text"
                    error-message='{{"shared.error.notValid" | translate}}'>
            </wlt-input>
        </form>

        <md-content>
            <md-list>

                <md-subheader class="md-no-sticky">{{events.length}}
                    <span ng-show="events.length <= 1">{{ "event.event" | translate}}</span>
                    <span ng-show="events.length > 1">{{ "event.events" | translate}}</span>
                </md-subheader>

                <md-list-item class="md-3-line" ng-repeat="event in events| filter:{title:search}">
                    <div class="md-list-item-text list pointer" ui-sref="private.account.event-view({id: event.id})">
                        <div layout="row" layout-align="center center">
                            <div style="width: 110px;" layout="row" layout-align="center center">
                                <img class="img-responsive" style="max-width: 100px; max-height: 100px"
                                     ng-if="event.image" ng-src="/images/{{ event.image }}"
                                     alt="{{event.title}}">
                                <ng-md-icon icon="group" aria-label="event" ng-show="!event.image">
                            </div>
                            <div layout="column" flex>
                                <h3>{{event.title}}</h3>

                                <p class="md-body-1">{{event.eventStart | date:'longDate'}} {{event.eventStart |
                                    date:'shortTime'}}<br>
                                    <span ng-show="event.venue">{{event.venue}}<br></span>
                                    <span ng-show="event.cityProvince !== ', '">{{event.cityProvince}}</span>
                                </p>
                            </div>
                            <div ng-show="event.saleState" style="color: {{event.saleStateColor}};" flex>
                                <strong>{{event.saleState | translate}}</strong>
                            </div>
                        </div>
                    </div>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-list-item>

            </md-list>
        </md-content>
    </md-content>
</div>


